{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "IE >= 10"
          ]
        },
        "include": [
          "es6.array.find"
        ],
        "useBuiltIns": true
      }
    ],
    "vue"
  ]
}
