<footer class="footer" role="contentinfo">
  <div class="pidila-footer">
    <div class="container">
      <div class="footer-content">
        <p>Développée conjointement par le <a href="https://pidila.gitlab.io/" title="Pôle intégration de la DILA">PiDILA</a>  et la <abbr title="Direction interministérielle du numérique">DINUM</abbr>, la Checklist Pidila est désormais maintenue par le pôle <a href="https://design.numerique.gouv.fr/">DesignGouv</a> de la DINUM.</p>
        <p>Le <a href="https://gitlab.com/pidila/checklist-pidila">code source</a> de l'application servant à afficher cette page est distribué sous double licence <a href="https://gitlab.com/pidila/scampi-twig/blob/master/LICENCE-MIT.md">MIT</a> et <a href="http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html">CeCILL-B</a>. Les contenus sont sous licences respectives de chacun des <a href="https://pidila.gitlab.io/checklist/referentiels.html">référentiels</a> alimentant la Checklist Pidila.</p>
      </div>
      <div class="pidila-logo">
        <p><a href="https://design.numerique.gouv.fr" target="_blank">
          <img src="svg/designgouv.svg" width="120" alt="DesignGouv - nouvelle fenêtre"/>
        </a>
      </p>
      <p>
        <a href="https://pidila.gitlab.io">
          <svg class="svg-logo" aria-hidden="true" focusable="false">
            <use xlink:href="svg/illus-sprite.svg#pidila"></use>
          </svg>
          <span class="sr-only">Site du Pidila</span>
        </a>
      </p>
      </div>
    </div>
  </div>
</footer>
