<header role="banner" class="banner default-banner">
  <div class="container">
    <p class="site-title">
      <svg class="svg-logo" aria-hidden="true" focusable="false">
        <use xlink:href="svg/illus-sprite.svg#checklist"></use>
      </svg>
      Checklist Pidila</p>
    <p class="baseline">
      Une liste unique des bonnes pratiques pour les sites publics : <abbr title="Référentiel général d’amélioration de l’accessibilité"">RGAA</abbr>, Charte internet et Marque de l'État, Bonnes pratiques Opquast, Éco-conception, <abbr title="Référentiel général de protection des données">RGPD</abbr> et <abbr title="Référentiel général d’interopérabilité">RGI</abbr>
    </p>
  </div>
</header>
