<header role="banner" class="banner default-banner">



  <div class="logo">
    <div class="block-link">
      <img src="https://design.numerique.gouv.fr/assets/images/logoRF.svg" width="120" class="header__logo-rf" alt="République Française. Liberté Égalité Fraternité."/>
      <g-link class="header__logos" to="/" >
        <img src="https://design.numerique.gouv.fr/assets/images/logoDG.svg"  width="260"  class="header__logo-dg" alt="DesignGouv - Retour à l'accueil"/>
      </g-link>
    </div>
  </div>
  <nav id="nav-main" role="navigation">
    <Menu />
  </nav>
</header>

